@charset "UTF-8";

/*Paleta de Cores
    #620DD9 - roxo
    #6D0AD7 - roxo
    #89BF80 - verde
    #92D95F - verde
    #F27405 - laranja
*/

body {
    background-color: #6D0AD7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    margin-top: 2%;
    text-align: center;
}

#profile {
    margin-left: 88%;
    background-color: #f88826;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(24, 21, 21, 0.247);
    text-align: center;

}

div {
    padding-bottom: 5px;
}

div>img {
    border-radius: 5px;
}

.voltar{
    margin-left: 2%;
}

.voltar2{
    margin-left: 0%;
}

nav {
    background-color: #f88826;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(24, 21, 21, 0.247);

}

nav>a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    margin-left: 10%;

}

nav>a:hover {
    background-color: #92D95F;
    color: #fcfcfc;
}

fieldset {
    border: 0;
    width: 25px;
    background-color: #f88826;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(24, 21, 21, 0.541);
    margin-left: 41%;
}

.relatorio{
    margin-left: 28%;
}

#user{
    margin-left: 37%;
}

.delete{
    margin-left: 42%;
}

input, select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 5px;
    padding: 0.2em;
    border: 1px solid #620DD9;
    box-shadow: 2px 2px 2px rgba(24, 21, 21, 0.541);
}

input:focus {
    background-color: #620DD9;
}

label {
    display: block;
    text-align:justify;
}

label:hover {
    color: #620DD9;
}

button {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(24, 21, 21, 0.541);
}

button:hover {
    background-color: #620DD9;
}